.todo-container {
  width: 90%;
  max-width: 700px;
  background: white;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-md);
  margin-left: 20px;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-buttons button {
  flex: 1;
  padding: 8px 12px;
  border-radius: var(--border-radius);
  border: 2px solid var(--primary-color);
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
}

.filter-buttons button:hover,
.filter-buttons .active {
  background-color: var(--primary-color);
  color: white;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.empty-message {
  text-align: center;
  font-style: italic;
  color: #777;
}
